.terminal {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(192, 192, 192, 0.2);
  display: flex;
  flex-direction: column;

  color: #00ff88;
  font-family: 'Courier New', monospace;

  .header {
    padding: 10px;
    display: flex;
    gap: 0.5rem;

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline-block;

      &.red {
        background-color: #ff5f56;
      }

      &.yellow {
        background-color: #ffbd2e;
      }

      &.green {
        background-color: #27c93f;
      }
    }
  }

  .body {
    background-color: #191919;
    padding: 10px;
    border-radius: 0 0 10px 10px;

    .main {
      flex-grow: 1;
      max-height: 150px;
      overflow-y: scroll;
      white-space: pre-wrap;
      font-size: 15px;
      margin-bottom: 10px;

      /* firefox */
      scrollbar-color: #00ff88 transparent;
      scrollbar-width: thin;

      /* Webkit 브라우저용 */
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #00ff88;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      > div {
        line-height: 150%;
      }
    }

    .inputLine {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        color: #00ff88;
      }

      input {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: #00ff88;
        font-family: inherit;
        font-size: 15px;

        &::placeholder {
          color: #00ff8855;
        }
      }
    }
  }
}
