.header-wrapper {
  width: 100vw;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-bg);
  backdrop-filter: blur(10px);
  z-index: 1000;

  font-family: var(--font-display), var(--font-body), sans-serif;
  color: var(--text);

  box-shadow: 0px 4px 8px 0px var(--shadow);

  .header-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin: auto;

    .logo {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.05em;
      min-width: max-content;
      margin: 0;

      &:hover {
        color: var(--accent);
        transition: color 0.3s ease;
      }
    }

    .header-actions {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}

@media (max-width: 1439px) {
  .header-wrapper {
    .header-container {
      width: 80%;
    }
  }
}

@media (max-width: 1024px) {
  .header-wrapper {
    .header-container {
      width: 85%;
    }
  }
}

@media (max-width: 768px) {
  .header-wrapper {
    .header-container {
      width: 100%;
      padding: 10px 35px;
      margin: 0;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 480px) {
  .header-wrapper {
    .header-container {
      width: 100%;
      padding: 10px 10px;
      margin: 0;
      box-sizing: border-box;
    }
  }
}
