.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  z-index: 2;
  font-family: var(--font-poesen-one);
  color: #191919;

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05em;

    &:hover {
      color: #3b82f6;
      transition: color 0.3s ease;
    }
  }
}
