.introduction-btns-container {
  display: flex;
  align-items: center;
  gap: 12px;

  .social-btns {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .introduction-btns-container {
    justify-content: center;
  }
}
