.introduction-container {
  width: 100%;
  height: 380px;
  margin-top: 130px;
  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  color: #191919;
  font-family: var(--font-poesen-one);

  .introduction-text-box {
    display: flex;
    flex-direction: column;
    gap: 14px;

    h1 {
      font-size: 58px;
      margin: 0;

      > span {
        color: #3b82f6;
        font-size: 62px;
      }
    }

    .sentences-box {
      height: 74px;

      p {
        > span {
          font-size: 16px;

          &.korean {
            font-family: var(--font-jua);
          }
        }
      }
    }
  }

  .introduction-image-box {
    position: relative;
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;

    .rotating-border {
      position: absolute;
      transition: (-50%, -50%);
      width: 340px;
      height: 340px;
      transform: rotate(0deg);
      animation: rotate 20s linear infinite;

      circle {
        fill: none;
        stroke: #3b82f6;
        stroke-width: 3px;
        stroke-dasharray: 4 10 23 14;
        stroke-linecap: round;
      }
    }

    .profile-image {
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 노트북 (769px ~ 1024px)
@media (max-width: 1024px) {
  .introduction-container {
    gap: 4px;
    .introduction-text-box {
      > p {
        font-size: 0.78rem;
      }
    }
  }
}

// 태블릿 (~ 768px)
@media (max-width: 768px) {
  .introduction-container {
    justify-content: center;

    .introduction-text-box {
      text-align: center;
      > p {
        font-size: 0.8rem;
      }
    }
    .introduction-image-box {
      display: none;
    }
  }
}
