@mixin Button {
  border: none;
  outline: none;
  background-color: white;
  //   border: 1px solid #3b82f6;
  background-color: #3b82f6;
  cursor: pointer;

  font-family: var(--font-poesen-one);
  color: white;
}

.introduction-btns-container {
  display: flex;
  gap: 14px;

  .download-btn {
    @include Button;

    border-radius: 20px;
    padding: 10px 14px;

    display: flex;
    align-items: center;
    gap: 4px;
    min-width: fit-content;
  }

  .social-btns {
    display: flex;
    gap: 14px;

    > a {
      @include Button;

      width: 38px;
      height: 38px;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// 태블릿 (481px ~ 768px)
@media (max-width: 768px) {
  .introduction-btns-container {
    justify-content: center;
  }
}
