.navigator-container {
  .more-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      padding: 10px 20px;
      border: 1px solid var(--border);
      border-radius: 20px;
      cursor: pointer;
      background-color: var(--card);

      font-family: var(--font-display), sans-serif;
      font-weight: 600;
      color: var(--text-muted);
      font-size: 16px;

      &:hover {
        color: var(--text);
        border: 1px solid var(--text);

        transition: color 0.3s ease;
        transition: border 0.3s ease;
      }
    }
  }
}

// 모바일 (480px 이하)
@media (max-width: 480px) {
  .navigator-container {
    .more-btn-container {
      button:last-of-type {
        display: none;
      }
    }
  }
}
