.projects-container {
  margin: 30px 0;
  width: 100%;
  scroll-margin-top: 62px;

  .projects-carousel-wrapper {
    position: relative;
    margin-bottom: 30px;
    overflow: visible;

    .swiper {
      width: 1010px;
    }

    .nav-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      background: rgba(255, 255, 255, 0.8);
      border: none;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;

      svg {
        font-size: 18px;
      }

      &.prev-button {
        left: -10px;
      }

      &.next-button {
        right: -10px;
      }
    }
  }
}
