.read-me-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  padding: 80px 0;
  box-sizing: border-box;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;

  .read-me-container {
    position: relative;
    max-width: 720px;
    min-height: max-content;
    background-color: #fff;
    z-index: 10000;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin: auto;

    .read-me-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #191919;
      padding: 6px 14px;
      border-radius: 12px 12px 0 0;
      flex: 1;

      font-family: var(--font-poesen-one);
      font-size: 18px;
      color: #fff;

      .close-modal-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: flex;
        align-items: center;

        font-size: 40px;
        color: #fff;
      }
    }

    .info-box {
      display: flex;
      flex-direction: column;
      margin: 20px;
      font-family: var(--font-nanum-gothic-coding);

      .read-me-title-box {
        display: flex;
        align-items: first baseline;
        padding-bottom: 20px;
        border-bottom: 1px solid #c9c9c9;
        gap: 12px;

        .read-me-title {
          font-family: var(--font-poesen-one);
          font-size: 28px;
        }

        .read-me-title-info-data {
          display: flex;
          gap: 8px;

          font-size: 12px;
        }
      }

      .read-me-content-box {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .deployment-url-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .deployment-url-title {
            font-family: var(--font-poesen-one);
            font-size: 18px;
          }

          > a {
            &:hover {
              color: #3b82f6;
            }
          }
        }

        .summary-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .summary-title {
            font-family: var(--font-poesen-one);
            font-size: 18px;
          }

          .summary-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .project-title {
              font-weight: bold;
              font-size: 14px;
            }

            .project-card-features {
              list-style: none;
              padding: 0;
              display: flex;
              flex-direction: column;
              gap: 4px;
              font-size: 14px;
              line-height: 150%;
              width: 95%;

              .project-card-main-features {
                height: 30px;
                margin-top: 10px;
                padding-left: 16px;
                position: relative;
                display: flex;
                align-items: center;

                height: 100%;
                font-size: 14px;
                line-height: 150%;
                color: #7d7d7d;
                font-weight: bold;

                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 4px;
                  height: 100%;
                  background-color: #7d7d7d;
                }
              }
            }
          }
        }

        .background-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .background-title {
            font-family: var(--font-poesen-one);
            font-size: 18px;
          }

          .background-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .background-text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 10px;

              .background-row {
                font-size: 14px;
                line-height: 150%;
              }
            }
          }
        }

        .meaning-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .meaning-title {
            font-family: var(--font-poesen-one);
            font-size: 18px;
          }

          .meaning-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .meaning-text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 10px;

              .meaning-row {
                font-size: 14px;
                line-height: 150%;
              }
            }
          }
        }

        .skills-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .skills-title {
            font-family: var(--font-poesen-one);
            font-size: 18px;
          }

          .skills-content-box {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            margin-bottom: 15px;

            > span {
              background-color: #fff;
              padding: 6px 10px;
              border-radius: 10px;
              min-width: max-content;
              border: 1px solid #c9c9c9;

              font-size: 12px;
              font-weight: bold;
              cursor: default;
            }
          }
        }

        .setup-usage-box {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .setup-usage-title {
            font-family: var(--font-poesen-one);
            font-size: 18px;
          }
        }
      }
    }
  }
}

// 노트북 (769px ~ 1024px)
@media (max-width: 1024px) {
  .read-me-modal-wrapper {
    .read-me-container {
      width: 80%;
    }
  }
}

// 태블릿 (481px ~ 768px)
@media (max-width: 768px) {
}

// 모바일 (480px 이하)
@media (max-width: 480px) {
}
