.top-btn-container {
  position: fixed;
  bottom: 30px;
  right: 100px;
  visibility: hidden;
  opacity: 0;
  z-index: 5000;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .top-btn {
    cursor: pointer;
    border: none;
    background-color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #9b9b9b;

    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      color: #9b9b9b;
      font-size: 30px;
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: #323232;
      border: 1px solid #323232;

      transition: color 0.3s ease;
      transition: border 0.3s ease;
    }
  }
}

// 노트북 (769px ~ 1024px)
@media (max-width: 1024px) {
}

// 태블릿 (481px ~ 768px)
@media (max-width: 768px) {
  .top-btn-container {
    right: 80px;
  }
}

// 모바일 (480px 이하)
@media (max-width: 480px) {
  .top-btn-container {
    right: 30px;
  }
}
