.top-btn-container {
  position: fixed;
  bottom: 30px;
  right: 100px;
  visibility: hidden;
  opacity: 0;
  z-index: 5000;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

// 노트북 (769px ~ 1024px)
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .top-btn-container {
    right: 16px;
    bottom: 20px;
  }
}

@media (max-width: 480px) {
  .top-btn-container {
    right: 12px;
    bottom: 16px;
  }
}
