.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  z-index: 2;
  color: #c1c1c1;

  span {
    &:hover {
      color: white;
      transform: translateY(2px);
      transition: color 0.3s ease;
      transition: transform 0.3s ease;
    }
  }
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;

  &:hover {
    color: white;
    transition: color 0.3s ease;
  }
}
