nav {
  display: flex;
  gap: 14px;

  > span {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1.5rem;
    cursor: pointer;

    &:hover {
      color: white;
      transform: translateY(2px);
      transition: color 0.3s ease;
      transition: transform 0.3s ease;
    }
  }
}
